#wrapper{
	width: 1025px;
	overflow: hidden;
	margin: 0 auto;
}

#canvas-div{
	overflow: hidden;

}

#title{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-align: left;
}

#settings{
	float: left;
	width: 300px;
	margin-right: 100px;
}

#discanvas{
	float: left;
	border:2px
	solid #000000;
	border-radius: 5px;
}

#message{
	float: left;
	width: 100%;
	margin-top: 20px;
}

#controls{
	height: 100px;
	float: left;
	margin-top: 10px;
}

#board-set{
	float: left;
	margin-left: 100px;
	margin-top: 10px;
	height: 100px;
}

#deltaval{
	margin-left: 100px;
}

#slow{
	float: left;
}

#fast{
	float: right;
}

.styled-select {
	width: 100px;
	height: 34px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.styled-select select {
	background: transparent;
	width: 268px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 2;
	height: 34px;
	-webkit-appearance: none;
}

.btn {
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	font-family: Arial;
	color: #ffffff;
	font-size: 8px;
	background: #9966ff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	color: #ffffff !important;
	background: #8A5CE6;
	text-decoration: none;
}
